.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}

.leftside {
  background-color: #f7f7f7;
}

.rightside {
  display: block;
  width: 100%;
}

.r_reg {

  background: url("https://sun9-70.userapi.com/c853516/v853516892/133c54/_on8182mOyU.jpg");
  background-size: 120%;
  background-repeat: repeat-x;
  background-position: center;
  background-color: #f7f7f7;

}

.r_auth {

  background: url("https://sun9-6.userapi.com/c853516/v853516892/133c4a/y2jBtAO1zfk.jpg");
  background-size: 110%;
  background-repeat: repeat-x;
  background-position: center;
  background-color: #f7f7f7;

}

.r_interests {

  background: url("https://sun9-12.userapi.com/c855524/v855524807/147ff2/oFT4LBSpGAg.jpg");
  background-size: 100%;
  background-repeat: repeat-x;
  background-position: center;
  background-color: #f7f7f7;

}

.form-container {
  background-color: #fff;
  max-width: 80%;
  max-width: 800px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.form-control-feedback{
    color: red;
}

input {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 20px 0px;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    width: 90%;
    box-sizing: border-box;
    color: #000;
    font-weight: 400;
    -webkit-appearance: none;
}

input:focus {
    border-bottom: solid 1px #39b8d1;
    outline: 0;
    box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.my_btn {
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 60px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 5%;
    border: 2px solid #217cd7;
    font-weight: bold;
    background-color: #217cd7;
}

.my_btn:hover {
    background-color: #1a70c5;;
}

.enter {
    color: #217cd7;
}

.enter:hover {
    color: #1a70c5;

}

.text_success {
    color: #217cd7;
}

h3 {
  text-align: center;
  margin: 5% 0;
}

.screen-reader-text {
height: auto;
width: 1px;
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute !important;
}

.form .chosen-container {
font-size: 18px;
min-width: 100% !important;

}
.form .chosen-container .chosen-single,
.form .chosen-container .chosen-drop {
border: none;
border-radius: 0;
box-shadow: none;
}
.form .chosen-container-active.chosen-with-drop .chosen-single,
.form .chosen-container-active .chosen-choices {
border: none;
border-radius: 0;
box-shadow: none;
}
.form .chosen-container-active .chosen-results .highlighted {
background: #217cd7;
}

/*FOOTER*/
footer {
background: #000;
display: block;
justify-content: space-between;
padding-top: 1%;
padding-bottom: 1%;
width: 100%;
max-height: 130px;
}

footer p {
  color: white;
  margin-left: 3%;
  text-align: center;
}

.github {
  float: right;
  margin-right: 1%;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
}


@media (max-width: 800px) {
    .rightside {
        display: none !important;
      }
    .form-container {
        max-width: 90%;
        max-height: 90%;
        box-shadow: none;
    }
    .form__heading {
        font-size: 24px;
    }
    .my_btn {
        width: 80%;
    }
    .leftside {
      background-color: #fff;
    }
  }